.dropbtn {   
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .title{
    color: var(--blue-medium);
    font-family:'Darker Grotesque';
    font-weight: 800;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;    
    position: absolute;
    background-color: var(--white);
    width: 799px;
    height: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .teste td {
    margin: 20px;  
  }

  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}  
  